.label {
  -fx-font-size: 24px;
  -fx-font-weight: bold;
  -fx-text-fill: #008080;
  -fx-min-width: 270;
  -fx-min-height: 90;
  -fx-alignment: center;
  -fx-text-alignment: right;
}

.button {
  -fx-font-size: 16px;
  -fx-text-fill: red;
  -fx-min-width: 90;
  -fx-min-height: 90;
}